body {
    background-color: rgb(196, 194, 194);
    color: whitesmoke;
    font-family: 'McLaren', cursive;
}

h1 {
    color: red;
}

p {
    color: blueviolet;
}

img {
    width: 200px;
    height: 250px;
}